<h1>Welcome to ASP.NET Web API!</h1>
Navigate to <a href="/docs">/docs</a> for the Swagger UI docs.  These are not included in the NuGet package.<br />
Navigate to <a href="/api/swagger">/api/swagger</a> to see the JSON specification emitted.<br />
You may then navigate to each api path to see the JSON documentation for each ApiController individually.